.transaction-line {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0.5rem 1rem;

	border: 1px solid #ebebeb;
}

/* Adjacent sibling */
.transaction-line + .transaction-line {
	border-top: none;
}

.t-line-memo {
	font-size: 1.1rem;
}
.t-line-cta {
	display: flex;
	align-items: center;
	gap: 1rem;
}
