.transaction-line {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	padding: 0.75rem 1rem;

	font-size: 1.2rem;
	border: 1px solid #ebebeb;
}

/* Adjacent sibling */
.transaction-line + .transaction-line {
	border-top: none;
}

.t-line-memo {
}

.t-line-date {
	min-width: 15%;
}

.t-line-cta {
	display: flex;
	align-items: center;
	gap: 1rem;
}
