:root {
	---grey: #e7e7e7;
	---green: #ceeed8;
	---blue: #c2e3f0;
	---grey-font: #4d4d4d;
	---green-font: #61836c;
	---blue-font: #45778a;
}

.tab {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-grow: 1;

	font-size: 1.2rem;

	padding: 1rem 1rem;
	border-radius: 3px;
}

.tab--grey {
	background-color: var(---grey);
	color: var(---grey-font);
}

.tab--green {
	background-color: var(---green);
	color: var(---green-font);
}
.tab--blue {
	background-color: var(---blue);
	color: var(---blue-font);
}
