:root {
	---border-1: 3px;
	---input-padding-std: 0.5rem 1rem;
	---blue-btn: #1d76f2;
	---grey: #e7e7e7;
	---green: #ceeed8;
	---blue: #c2e3f0;
	---grey-font: #4d4d4d;
	---green-font: #61836c;
	---blue-font: #45778a;
}

html {
	font-family: sans-serif;
	font-size: 62.5%;
}

input:focus {
	outline: none;
}

* {
	margin: 0;
	box-sizing: border-box;
}

.wrapper {
	max-width: 60%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.input-border {
	border: 1px solid #e8e8e8;
	border-top: 1px solid #c1c1c1;
}
